// 導入bootstrap

@import '../../node_modules/bootstrap/scss/bootstrap.scss';

// 預設變數覆蓋

$primary:      #0e9d1f;
$secondary:     #96073b;

$btn-border-radius:0;

// ----------
// 全站在用的 CSS

html {
    font-size: 12px;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", sans-serif;
}